*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


ul li:hover{
    text-decoration: underline 4px cornflowerblue;
    text-underline-offset: 17px;

}

.pro:hover{
    text-decoration: underline 4px black;
    text-underline-offset: 17px;
    transition: 0.3s ease;
    
    
}




